#title Doodle Moment

#colors
    #red.color(doodle-color)
    #orange.color(doodle-color)
    #yellow.color(doodle-color)
    #green.color(doodle-color)
    #blue.color(doodle-color)
    #purple.color(doodle-color)
    
canvas#can(doodle-fullscreen) 

input#text.memeInput(ng-model="hiddenText")
#hiddenInput.memeInput {{hiddenText}}

#remove-btn
    span x

#brushes
    button#save(ng-click="submit()")
      span Save Image
    #small.brush(ng-click="brushBtn(10)", ng-class="{'selected-brush': brushCurrent == 10}")
    #medium.brush(ng-click="brushBtn(15)", ng-class="{'selected-brush': brushCurrent == 15}")
    #large.brush(ng-click="brushBtn(25)", ng-class="{'selected-brush': brushCurrent == 25}")
    #text-btn(ng-click="textBtn()")
        img(src="../../images/textcursor.svg")    
