
#title My Tv

video(id="video", width='100%', controls, crossorigin='anonymous', video-time-update)
    source(src='{{trustSrc(currentvideo)}}', type='video/mp4')
    span Your browser does not support HTML5 Video