#title My Hypes

#search-nav
    img#search(src='/images/search.png', ng-click='showSearch = ! showSearch')
    input#searchbox(ng-model='query', ng-show='showSearch', placeholder='Search for your movie or tv')
    
#banner-wrapper
    #banner-overlay(scroll-fade)
    #banner(style='background-image:url({{videos[0].bannerImage}})')
    
#container-wrapper(scroll-littlebit)
    ul#container-videos
        li(ng-repeat="video in videos | filter:query | orderBy:orderProp")
            .container-header
               h1 {{video.title}}
            .container-video
                .container-progress-wrapper
                    .progress-line
                        .progress-item(ng-repeat="hype in video.hypes")
                .container-frames-wrapper
                    ul.container-frames(style="width: {{ 270 * video.hypes.length}}px")
                        li(ng-repeat="hype in video.hypes")
                            a.hype-image(style='background-image:url({{hype.thumbnail}})', href='#/doodle?thumbnail={{hype.thumbnail}}')
                            .hype-meta {{hype.timemark}}
