#colors {
    position: fixed;
    left: 0;
    right: 0;
    top: 75px;
    height: 50px;
    background: red;
}

#brushes {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: red;
}

#can {
    top: 125px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: blue;
}