body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eee;
}

a{
    text-decoration: none;
    color: #333;
}

#nav {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent);
    transition-property: background-color;
    transition-duration: 0.4s;
}
#menu {
    cursor: pointer;
}
#nav.collapse {
    background-color: #333;
}

#left-nav {
    float: left;
    margin: 20px;
}

#search-nav {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 101;
}
#search {
    float: right;
    margin: 20px;
}
#searchbox {
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: transparent;
    width: 100%;
    font-size: 30px;
    background-color:white;
    padding: 0 20px;
}
#title {
    position: fixed;
    top: 15px;
    left: 100px;
    color: white;
    font-size: 30px;
    z-index: 101;
}

#banner-wrapper {
    position: absolute;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    height: inherit;
    opacity: 0;
}

#banner {
    height: inherit;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-color: #333;
}

#container-wrapper {
    width: 80%;
    margin: 200px auto 0 auto;
}

#container-videos {
    list-style-type: none;
    padding: 0;
}
#container-videos li:first-child .container-header {
    color: white;
}

.container-video {
    background-color: white;
    min-height: 250px;
}

.container-frames-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    height: 180px;
}
.container-frames {
    list-style-type: none;
    height: inherit;
    width: 1000px;
}
.container-frames li {
    display: inline-block;
    margin-right: 10px;
    height: inherit;
}
.hype-image {
    display: block;
    width: 250px;
    height: 150px;
    background-size: cover;
    background-position: top left;
    background-color: #333;
}

.hype-meta {
    margin-top: 5px;
    font-size: 12px;
}

video {
    z-index: -1000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

.container-frames-wrapper::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

.container-frames-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.container-frames-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
}

#shelf-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);

    transition: opacity 0.5s;
    opacity: 0;
}

#shelf-wrapper.expanded {

    right: 0;
    opacity: 1;
    z-index: 1000;
}

#shelf {
    position: fixed;
    top: 0;
    left: -240px;
    width: 200px;
    background-color: #fff;
    bottom: 0;
    margin: 0;
    transition: left 0.5s;
    list-style-type: none;
    padding: 0;
}

#shelf-wrapper.expanded #shelf {
    left: 0;
}
#shelf li {
    border-bottom: 1px solid #dcdcdc;
}

#shelf a {
    height: 100px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 100px;
    padding-left: 30px;
}

#shelf a.menutitle {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #000;
}

#shelf a:hover {
    background-color: #dcdcdc;
}

#logo {
    width: 87%;
    padding-top: 7px;
}

.icon {
    vertical-align: middle;
    height: 22px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.container-progress-wrapper {
    height: 60px;
}

.progress-line {
    position: relative;
    height: 10px;
    background-color: cornflowerblue;
    top: 20px;
    width: 80%;
    left: 10%;
}

.progress-item {
    height: inherit;
    width: 5px;
    position: absolute;
    top: 0;
    background-color: mediumpurple;
}

#container-memes, #container-meme {
    list-style-type: none;
    width: 80%;
    margin: 100px auto 0 auto;
}

#container-memes li {
    margin-bottom: 10px;
}

.meme-image {
    display: block;
    height: 500px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

div#emoji {
    font-size: 100px;
    z-index: 1000;
    top: 20px;
    position: fixed;
    color: white;
    right: 40px;
}